<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Библиотека иностранной литературы</title>
    <style>
        textarea {
            border: 1px solid #848484;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            outline:0;
            height:25px;
            width: 275px;
            padding-left:10px;
            padding-right:10px;
            resize: none;
        }
        .nameBook {
            text-transform: uppercase;
        }
        .gradient-button-take {
            text-decoration: none;
            display: inline-block;
            color: rgb(0, 0, 0);
            padding: 10px 15px;
            margin: 10px 20px;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-image: linear-gradient(to right, #c07f7f 0%, #552a08 51%, #e0b75d 100%);
            background-size: 200% auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, .1);
            transition: .5s;
        }
        .gradient-button-return {
            text-decoration: none;
            display: inline-block;
            color: rgb(0, 0, 0);
            padding: 10px 15px;
            margin: 10px 20px;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-image: linear-gradient(to right, #a6e9f1 0%, #3c5c72 51%, #3446af 100%);
            background-size: 200% auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, .1);
            transition: .5s;
        }
        .backbutton {
            text-decoration: none;
            display: inline-block;
            color: rgb(0, 0, 0);
            padding: 5px 8px;
            margin: 10px 20px;
            border-radius: 10px;
            font-family: 'Montserrat', sans-serif;
            text-transform: uppercase;
            letter-spacing: 2px;
            background-image: linear-gradient(to right, #eea29a 0%, #f7786b 51%, #d62828 100%);
            background-size: 200% auto;
            box-shadow: 0 0 20px rgba(0, 0, 0, .1);
            transition: .5s;
        }
        .gradient-button-take:hover, .gradient-button-return:hover , .backbutton:hover{
             background-position: right center;
        }
        body {
            background-image: url(https://img1.goodfon.ru/wallpaper/nbig/1/4b/tekstura-polosy-fon-color-korichnevii-sinii-bezhevyi.jpg);
            background-size: cover;
        }
        .hide {
        display: none;
        }
        m {
            position: absolute;
            top: -9999px;
        }
        p {
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
        }
        h2 {
            text-align: center;
            font-family: 'Josefin Sans', sans-serif;
            background-color: rgb(248, 237, 175);
            text-transform: uppercase;
        }
        .input {
            font-size: 40px;
            font-family: 'Josefin Sans', sans-serif;
            text-align: center;
            padding: 10px;
            background: rgb(236, 234, 234);
            border: 1px, solid, #ccc;
            border-radius: 8px;
            width: 100%;
            outline: none;
            box-sizing: border-box;
            margin-top: 25px;
            margin-left: auto;
            margin-right: auto;
        }
        .image {
            width: 296px; 
            height: 453;
            box-shadow: 0px 0px 10px 1px #000;
            perspective: 1000px;
        }
        a {
            perspective: 1000px;
        }
        .borrow {
            margin-left: auto;
            margin-right: auto;
            width: 20em
        }
        .books {
            margin-top: 50px;
            box-shadow: 5px;
        }
        h1{
            font-size: 50px;
            margin-left: auto;
            margin-right: auto;
            width: 20em;
            font-family: 'Josefin Sans', sans-serif;
            
        }
        textarea {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 20px;
            text-align: center;
        }
        img {
            width: 296px;
            height: 453px;
            box-shadow: 5px;
        }
    </style>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap" rel="stylesheet">

</head>